<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<style>
    .btn-color{
  background-color: #0e1c36;
  color: #fff;

}

.profile-image-pic{
  height: 200px;
  width: 200px;
  object-fit: cover;
}



.cardbody-color{
  background-color: #ebf2fa;
}

a{
  text-decoration: none;
}
</style>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center text-dark mt-5">NEW ACCOUNT</h2>
            <div class="text-center mb-5 text-dark"></div>
            <div class="card my-5">

                <form action="register-action" class="card-body cardbody-color p-lg-5">

                    <div class="text-center">
                        <img src="https://cdn.pixabay.com/photo/2016/03/31/19/56/avatar-1295397__340.png" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                             width="200px" alt="profile">
                    </div>

                    <div class="mb-3">
                        <input type="text" name="username" class="form-control" id="Username" aria-describedby="emailHelp"
                               placeholder="User Name">
                    </div>
                    <div class="mb-3">
                        <input type="password" name="password1" class="form-control" id="password" placeholder="Set Password">
                    </div>
                    <div class="mb-3">
                        <input type="password" name="password2" class="form-control"  placeholder="ReType Password">
                    </div>
                    <div class="text-center"><button type="submit" class="btn btn-color px-5 mb-5 w-100">Register Account</button></div>
                </form>
                <p th:text="${error}"></p>

            </div>

        </div>
    </div>
</div>
</body>
</html>